.CalendarBody {
	max-width: 1050px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.CalendarBody > * {
	border-top: 2px solid rgba(96, 5, 128, 0.3);
	border-left: 2px solid rgba(96, 5, 128, 0.3);
}

.CalendarBody > *:nth-child(7n) {
	border-right: 2px solid rgba(96, 5, 128, 0.3);
}

.CalendarBody > *:nth-last-child(1),
.CalendarBody > *:nth-last-child(2),
.CalendarBody > *:nth-last-child(3),
.CalendarBody > *:nth-last-child(4),
.CalendarBody > *:nth-last-child(5),
.CalendarBody > *:nth-last-child(6),
.CalendarBody > *:nth-last-child(7) {
	border-bottom: 2px solid rgba(96, 5, 128, 0.3);
}