.Navigation {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-between;
	list-style: none;

	font-size: 36px;
	line-height: 43px;

	color: #4E1363;
}

.Navigation li {
	padding: 4px;
	padding-bottom: 0;
	cursor: pointer;
	flex-grow: 1;
	flex-shrink: 1;
	margin-bottom: -4px;
}