.User {
	height: 100%;
	display: flex;
	align-items: center;
}

.User .Avatar {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid #600580;
	background-image: url('./avatar.png');
	background-position: center -2px;
}