.CalendarHeader {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.CalendarHeader > * {
	border: 1px dashed black;
	text-align: center;
}

.CalendarHeader label {
	display: block;
	cursor: pointer;
}

.CalendarHeader input:checked + label {
	background-color: lightgreen;
}