.Header {
	background-color: white;
	padding: 8px;
	padding-bottom: 0;
	display: grid;
	grid-template-columns: 2fr 10fr 1fr;
	align-items: center;
}

.Header > * {
	border-bottom: 4px solid rgba(96, 5, 128, 0.3);
}

.Header .this {
	border-bottom: 4px solid #600580;
}